/*@font-face {
	font-family: 'Felix Titling';
	src: url('fonts/Felix Titling.ttf');
}*/


#midmodulebox{
	/*position: relative;
	display: block;
	z-index: 2;
	*/text-align: center;
	position:relative;
	top: 0px;
	width:904px;
	margin: 0px auto 0px auto;	
	padding:0px;
	height:345px;
	-webkit-box-shadow: 0px -4px 20px #666;
	-moz-box-shadow: 0px 4px 8px #666;
	border:#EEE 2px solid;
	border-bottom:#DDD 2px solid;
	border-top:none;
	background:#DDD	;
}

#midmodule-menu {
	position: relative;
	display: block;
	z-index: 2;
	font-size: 15px;
	color: #fff;
	text-align: center;
	position:relative;
	top: 311px;
	width:900px;
	margin: 0px auto 0px auto;	
	padding:0px;
	
}

	.buttons {
		display: block;
		margin: 0px auto 0px auto;
		padding: 0px;
		width: 900px;
		text-align: left;
		list-style-type: none;
		
	}
	
		.buttons li {
			display: inline-block;
			height:27px;
			width: 225px;
			float:left;
			cursor: pointer;
			-webkit-transition: 0.3s ease-in-out;
			-moz-transition: 0.3s ease-in-out;
			-ms-transition: 0.3s ease-in-out;
			-o-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
			margin: 0px 0px 0px 0px;
			padding: 5px 0px 0px 0px;
			text-align:center;
			font-weight:bold;
			letter-spacing:1px;
			font-size:15px;
			font-family: "Trebuchet MS", Helvetica, sans-serif;

			}
	
		.buttons li.button1 {
			background: #7eb300;
			}
		.buttons li.button2 {
			
			background: #007eff;}
		.buttons li.button3 {
			
			background: #4c00ca;}
		.buttons li.button4 {
			background: #d29900;

			}

			
		.buttons li:hover{
			background: #233;
			-webkit-transition: 0.3s ease-in-out;
			-moz-transition: 0.3s ease-in-out;
			-ms-transition: 0.3s ease-in-out;
			-o-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
			display:inline-block;
		}
	
			.buttons a, .buttons a:visited {
				color: #fff;
				text-decoration: none;
				margin: 0px;
				padding: 0px;
				display:inline-block;
			}

			
			
#midmodule-dynamic {
	position: absolute;
	right: 0;
	left: 0;
	display: block;
	z-index: 1;
	width: 900px;
	height: 312px;
	margin: 0px auto 0;
	font-size: 13px;
	overflow: hidden;
}	
#midmodule-static{
	position: absolute;
	right: 0;
	left: 0;
	display: block;
	z-index: 1;
	width: 900px;
	height: 312px;
	margin: -337px auto 0;
	font-size: 13px;
	background: #CCA ;
	overflow: hidden;
	top:0px;
	border-bottom: 3px solid #EEE;

}	

	#midmodule-content {
				width: 900px;
				height:312px;
				display:block;

		padding: 0px 0px 13px 0px;
		list-style-type: none;
		margin:0px;
		
		position:relative;
		top: 0px;
		
	}
	
	.midmodule-content1 {
		background: url(images/MidModule/Faculty.jpg) no-repeat;
	}
	.midmodule-content2 {	
		background:url(images/MidModule/Students.jpg) no-repeat;
	}
	.midmodule-content3 {
		
		background: url(images/MidModule/Prospective.jpg) no-repeat;
	}
	
	.midmodule-content4 {
		
		background:url(images/MidModule/Industry And Careers.jpg) no-repeat;
	}
	.links{
	width: 300px;
	display:block;

		margin:0px;
		list-style-type: none;
		position:relative;
		top:110px;
	
	}
	
		#midmodule-content li {
			display: block;
			width: 330px;
			height:24px;
			text-align: left;
			margin:0px 0px 7px 0px;
			font-family: 'Felix Titling';
			text-transform:uppercase;
			font-size:10px;
			letter-spacing:1px;
			color: #777;
			text-decoration: none;
			line-height:15px;
			font-weight:none;
			
		}
			
		#midmodule-content li a, .midmodule-content li a:visited {
				color: #eee;
				text-decoration: none;
				display: block;
				padding: 5px 0px 5px 40px;			
				background: url(images/midmodulelinkbg.png) repeat;

			}
			
			
			#midmodule-content	 li a:hover {
		
			-webkit-transition: 0.3s ease-in-out;
			-moz-transition: 0.3s ease-in-out;
			-ms-transition: 0.3s ease-in-out;
			-o-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
			color:#000;
			border-left: #000 solid 10px;
							padding: 5px 0px 5px 35px;
							font-weight:bold;
							background: url(images/midmodulelinkbghover.png) repeat;			

		}	
			
			
