html,body 
{
	height:100%;
	text-align: center;
	background: #333; 
	margin:0px 0px 0px 0px;
}

#main
{
	width: 100%;
	text-align:center;
	margin: 0px auto 0px auto;
	background: #fff;
}

#header
{
	height:90px;
	width:100%;
	text-align:left;
	background: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#376185), to(#21386a)); /* Chrome10 and Safari5.1*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#376185), color-stop(50%,#21386a), color-stop(51%,#21386a), color-stop(100%,#21386a)); /* Chrome,Safari4+ */
	background: -moz-linear-gradient(top,  #376185,  #21386a);/* Mozrilla Firefox*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#376185', endColorstr='#21386a'); /* IE 6-9 */
	background: -o-linear-gradient(top, #376185 0%,#21386a 50%,#21386a 51%,#21386a 100%); /* Opera+ */
	background: -ms-linear-gradient(top, #376185 0%,#21386a 50%,#21386a 51%,#21386a 100%); /* IE 10 */
	background: linear-gradient(top, #376185 0%,#21386a 50%,#21386a 51%,#21386a 100%); /* W3C */
	position:relative;
	z-index:3;
	text-align:center;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#header-wrapper
{
	width:900px;
	height:90px;
	margin: 0px auto 0px auto;
}

#headertitle
{
	height:40px;
	width: 440px;
	background:url(images/facultytitle.png) no-repeat;
	float:left;
	margin: 0px 0px 0px 0px;
	position:relative;
	top:25px;
	z-index:2;
}


#headerpanel
{	
	height:50px;
	width:440px;
	float:right;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	position:relative;
	top:18px;
	right:0px;
	z-index:2;
	display:inline-block;
}

#headerpanel ul
{
	display:inline;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	list-style:none;
}

#headerpanel ul li
{
	float:right;
	padding:0px 0px 0px 0px;
	margin: 0px 18px 0px 0px;
	text-align:center;
}
#headerpanel ul li a
{
	text-decoration:none;
	display:block;
	opacity:0.4;
	filter:alpha(opacity=40);
}
#headerpanel ul li a img
{
	border:none;
}

#headerpanel ul li a:hover
{
	opacity:0.8;
	filter:alpha(opacity=80);
}
#headerpanel ul li a span
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:#fff;
	font-size:11px;
	text-decoration:none;
	margin:5px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	display:block;	
}


#main-menu
{
	width: 100%;
	height: 62px;
	margin: 0px auto 0px auto;
	background:url(images/menubg.png) repeat-x;
	padding:0px 0px 0px 0px;
	text-align:center;
	position:relative;
	z-index:2;
}


#main-menu ul 
{
	width:900px;
	padding:0px auto 0px auto; 
	margin:0px auto 0px auto; 
	text-align:center;
 }
#main-menu ul li {
	height:50px;
	display: inline-block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position:relative;
	float:left;
	border-right: solid 1px #EDD;
	width:14.06%;
}
#main-menu ul li.first{
	border-left: solid 1px #EDD;

}
#main-menu ul li a
{

	text-decoration: none;
	font-family:Helvetica, sans-serif;
	color:#000;
	font-size:74%;	
	font-weight: bold;
	padding: 17px 13px 18px 13px;
	display: block;
	-webkit-transition: 0.5s ease-in-out;
				-moz-transition: 0.5s ease-in-out;
				-ms-transition: 0.5s ease-in-out;
				-o-transition: 0.5s ease-in-out;
				transition: 0.5s ease-in-out;
				
}

#main-menu ul li a.selected {
	color: #f30; 	background: -webkit-gradient(linear, left top, left bottom, from(#3f4040), to(#585858)); /* Chrome10 and Safari5.1*/
		background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#d3d3d3)); /* Chrome10 and Safari5.1*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(50%,#d3d3d3), color-stop(51%,#d3d3d3), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
	background: -moz-linear-gradient(top,  #eeeeee,  #d3d3d3);/* Mozrilla Firefox*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#d3d3d3'); /* IE 6-9 */
	background: -o-linear-gradient(top, #eeeeee 0%,#d3d3d3 50%,#d3d3d3 51%,#d3d3d3 100%); /* Opera+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#d3d3d3 50%,#d3d3d3 51%,#d3d3d3 100%); /* IE 10 */
	background: linear-gradient(top, #eeeeee 0%,#d3d3d3 50%,#d3d3d3 51%,#d3d3d3 100%); /* W3C */
	height:13px;
	border-top: 2px solid #F60;
		

	
	}


/* specific to non IE browsers */
#main-menu ul li:hover a { color: #FFF; 	background: #585858;
	border-top: 2px solid #F60;
	
	
 }
#main-menu ul li:hover ul, #menu ul li ul {display:block; position:absolute; margin: 0px 0px 0px 0px;  padding:0px 0px 0px 0px; width:220px; text-align:center; border-bottom: #FFF 15px solid; border-right: #FFF 3px solid; border-left: #FFF 3px solid;}
/*.menu ul li:hover ul li a.hide {background:#6a3; color:#fff; }*/
#main-menu ul li ul {display: none;text-align:center; }
/*.menu ul li:hover ul li:hover a.hide {background:#fff; color:#000;  }
.menu ul li:hover ul li ul {display: none;}*/
#main-menu ul li:hover ul li {padding: 0px 0px 0px 0px; height: 32px; margin: 0px auto 1px 0px;text-align:left; display:inline-block;  background: #EEE; width:220px; }
#main-menu ul li:hover ul li:hover{padding: 0px 0px 0px 0px; height: 32px;margin: 0px 0px 1px -5px;text-align:left; display:inline-block;  background: #FFF; width:230px;  }
#main-menu ul li:hover ul li a {color: #666; font-size: 12px;padding: 5px 0px 6px 8px;  margin: 3px 0px 0px 3px; background: none; border:none;}
#main-menu ul li:hover ul li a:hover {color:#F60; padding: 5px 0px 6px 10px; margin: 3px 0px 0px 3px;border-left: #F60 10px solid; background:nonw;}


#module-wrapper
{
	margin: -12px auto 0px auto;
	text-align: center;
	position:relative;
	z-index:1;
	padding: 0px 0px 35px 0px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#c0c0c0)); /* Chrome10 and Safari5.1*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(50%,#c0c0c0), color-stop(51%,#c0c0c0), color-stop(100%,#c0c0c0)); /* Chrome,Safari4+ */
	background: -moz-linear-gradient(top,  #ebebeb,  #c0c0c0);/* Mozrilla Firefox*/
	background: -o-linear-gradient(top, #ebebeb 0%,#c0c0c0 50%,#c0c0c0 51%,#c0c0c0 100%); /* Opera+ */
	background: -ms-linear-gradient(top, #ebebeb 0%,#c0c0c0 50%,#c0c0c0 51%,#c0c0c0 100%); /* IE 10 */
	background: linear-gradient(top, #ebebeb 0%,#c0c0c0 50%,#c0c0c0 51%,#c0c0c0 100%); /* W3C */
	-webkit-box-shadow: 0px 4px 12px #888;
	-moz-box-shadow: 0px 4px 12px #888;
	box-shadow: 0px 4px 12px #888;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#888888,direction=180,strength=8),
			progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#c0c0c0'); /* IE 6-9 */
	overflow:auto;
}

/*#module-container
{
	height: 310px;
	margin: 0px auto 0px auto;
	text-align: center;
	position:relative;
	z-index:1;
	padding: 0px 0px 0px 0px;
	width:975px;	
}*/
#bodybox
{
	width:100%;
	margin: 50px auto 0px auto;
	text-align: center;
	padding: 0px 0px 0px 0px;
	overflow:auto;
overflow-x:hidden;
	
}

#content-wrapper
{
	height:100%;
	width: 900px;
	margin: 0px auto 20px auto;
	padding: 0px 0px 30px 0px;
	text-align:left;
	overflow:auto;
	overflow-x:hidden;
	
	

}

/*content*/
#content-titlebox
{
	height: 29px;
	padding: 7px 0px 0px 0px;
	margin: 0px 0px 0px 0px;

}
#content-titlebox span{
	background: #f28e15;
	padding: 10px 15px 9px 10px;
	color: #FFF;
	text-align:left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;


}

#content-textbox
{
	height:100%;	
	min-height: 185px;
	width: 600px;
	margin: 0px 0px 0px 0px;
	padding: 20px 25px 20px 25px;
	overflow: hidden;
	float: left;
	position:relative;
	top:0px;
	left:0px;
	display:block;
	border-bottom: 2px solid #d0d0d0;
	border-left: 2px solid #d0d0d0;
	border-right: 2px solid #eee;
	border-top: 3px solid #223b6c;

	
}
#content-textbox.full
{
	width: 846px;
	border-right: 2px solid #d0d0d0;
	margin: 0px 0px 0px 0px;
}

#right-wrapper
{
	height:100%;
	width: 230px;
	margin: 0px 0px 0px 0px;
	padding: 0px 7px 0px 7px;
	overflow:auto;
	float:right;
	border-right: 2px solid #d0d0d0;
}
h1
{
	color:#2d4e79;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 19px;
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 20px;
	padding:0px;
	font-weight:100;
}
h2
{
	color:#f28e15;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 15px;
	text-decoration: none;
	margin: 0px;
	padding:0px;
	font-weight: none;
	display:inline-block;
	
	
}
h3
{
	color:#666;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	margin: 0px;
	padding:0px;
	display:inline-block;
	font-weight:normal;
}
#content-textbox p
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height:17px;
	font-size: 13px;
	text-align: justify;
	color:#444;
	
}
#content-textbox p IMG
{
	height:110px;
	float:right;
	padding:0px 0px 5px 5px;
}
#content-textbox ul.pbullet
{
	list-style: disc;
	margin:0px 0px 0px 18px;
	padding:0px 0px 0px 0px;
}
#content-textbox li.pbullet
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height:17px;
	font-size: 13px;
	text-align: justify;
	color:#444;
	margin:0px 0px 8px 0px;
	
}
#content-textbox table.inner
{
	margin: 8px 0px 20px 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height:17px;
	font-size: 14px;
	text-align: left;
	color:#444;
	
}

/*footer*/
#footer
{
	height:30px;
	width:100%;
	background: #555;
	background-repeat:no-repeat;
	padding: 10px 0px 15px 0px;
	text-align:center;
	color:#FFF;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	line-height:20px;
}
